.form {
	background-color: cornsilk;
	width: 40vw;
	text-align: center;
	margin: 20px auto;
	padding: 20px;
}
.nameText,
.emailText {
	display: inline-block;
	width: 50%;
}
.formgroup {
	margin-top: 20px;
}
@media only screen and (max-width: 600px) {
	.form {
		width: 90vw;
		margin: 0;
	}
}
